{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container well">
        <div class="col-md-9">
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            <br>
            <dl>
                <dt>{{'Username'}}</dt>
                <dd>
                    {{ user.username }}
                    &nbsp;    
                </dd>
                <br>
                <dt>{{ 'First name' }}</dt>
                <dd>
                    {{ user.firstName }}
                    &nbsp; 
                </dd>
                <br>
                <dt>{{ 'Last name' }}</dt>
                <dd>
                    {{ user.lastName }}
                    &nbsp; 
                </dd>
                <br>
                <dt>{{ 'Email' }}</dt>
                <dd>
                    {{ user.email }}
                    &nbsp; 
                </dd>
                <br>
                <dt>{{ 'Role' }}</dt>
                <dd>
                    {% if user.role == 'ROLE_ADMIN' %}
                        Administrator
                    {% elseif user.role == 'ROLE_USER' %}
                        User
                    {% endif %}
                    &nbsp; 
                </dd>
                <br>

                <dt>{{ 'Active' }}</dt>
                <dd>
                    {% if user.isActive == 1 %}
                        <span class="text-success">Enable</span>
                    {% elseif user.isActive == 0 %}
                        <span class="text-warning">Disable</span>
                    {% endif %}
                    &nbsp;
                </dd>
                <br>

                <dt>{{'Created'}}</dt>
                <dd>
                    {{ user.createdAt|date('d-m-Y H:i') }}
                    &nbsp;
                </dd>
                <br>
                <dt>{{'Updated'}}</dt>
                <dd>
                    {{ user.updatedAt|date('d-m-Y H:i') }}
                    &nbsp;
                </dd>
                <br>
            </dl>
        </div>
        <div class="col-md-3">
            <h3>{{'Actions'}}:</h3>
            <p>
                <a href="{{ path('user_edit', { id : user.id}) }}" class="btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ 'Edit user' }}
                </a>
            </p>
            <p>
                {{ include('UserBundle:User:forms/form.html.twig', { form: delete_form, message : 'Are you sure?' }) }}
            </p>
        </div>
    </div>

{% endblock %}